@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(0, 128, 255);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(121, 188, 255, 0.25);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .call-to-action {
    text-align: center;
    border: 3px solid #f0f0f0;
    border-radius: 30px;
    margin-top: 1rem;
    width: 60vw;
  }
}
